.font-box {
    height: 140px;
    max-height: 140px;
    overflow: hidden;
    h2 {
        &:hover {
            cursor: pointer;
        }
    }
}
.logo-text {
    font-family: "Putracetol-CavilayScript", sans-serif;
    font-size: 36px !important;
    height: 70px !important;
}
.fave-btn {
    label {
        margin-top: -1rem;
    }
}
.bg-top {
    background-color: rgba(211, 135, 132, 0.33);
    margin-bottom: 5rem;
    padding-top: 3rem;
    color: #3e3e3e;
    position: relative;
    .wave-border {
        position: absolute;
        height: 100px;
        width: 100%;
        path {
            fill: rgba(211, 135, 132, 0.33);
        }
    }
}
.font-18 {
    font-size: 18px !important;
}
.font-24 {
    font-size: 24px !important;
}
.dark-bg {
    background-color: #444 !important;
}
.btn-pink {
    color: #c96a66 !important;
}
.text-outline {
    -webkit-text-stroke: 1px #5a5a5a;
}
.text-shadow-white {
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}
.text-shadow {
    text-shadow: 0 0 1px rgba(0, 0, 0, .35);
}
